<settings>
<!-- Set default to false if you don't want to allow the unit to boot up in offline mode -->
	<setting id="offline"			type="bool"			default="true"	visible="false"/>

<!--  Main visible settings -->
	<setting id="debug"				type="bool"			default="true"		visible="true"	label="Enable debug mode"/>

<!--  Other hidden settings set via admin panel -->
	<setting id="autoupdate"		type="bool"			default="true"		visible="false"	label="Auto Update Add-ons"/>
	<setting id="addonlist"			type="text"			default="{}"		visible="false"/>
	<setting id="ziplist"			type="text"			default="{}"		visible="false"/>	
	<setting id="sleep"				type="text"			default="01:00:00"	visible="false"/>	
	<setting id="firstrun"			type="bool"			default="false"		visible="false" />
	<setting id="base"				type="text"			default="http://totalrevolution.xyz/"	visible="false"/>
</settings>