<settings>
<!-- Set default to false if you don't want to allow the unit to boot up in offline mode -->
	<setting id="offline"			type="bool"			default="true"	visible="false"/>

<!--  Main visible settings -->
	<setting id="debug"				type="bool"			default="true"	visible="true" 	label="Enable debug mode"/>
	<setting id="autoupdate"		type="bool"			default="true"	visible="true" 	label="Auto Update Add-ons"/>
	<setting id="base"				type="text"			default="http://totalrevolution.tv/"	visible="false"/>
	<setting id="addonlist"			type="text"			default="{}"	visible="false"/>
	<setting id="ziplist"			type="text"			default="{}"	visible="false"/>	
	<setting id="sleep"				type="text"			default="01:00:00"	visible="false"/>	
</settings>